<!DOCTYPE html>
<html>

<body>

    <article>
        <header>
            <h1>TINYAPP</h1>
            <a href="/urls">URLs</a> | <a href="/urls/new">Create New TinyURL</a>
                <% if(user){ %>
                <p> Logged in as: <%=user.email%> </p>
                <form action="/logout" method="POST">
                    <input type="submit" value="Sign Out" class="btn btn-primary" />
                </form>
                <% } else { %>
                    <a href="/login">Login</a> | <a href="/register">Register</a>
                <% } %> 
 
        </header>
    </article>

</body>

</html>